@charset "utf-8";

body{
 background-image: url("ep_naturalblack.png");
 width: 80%;
 margin: auto;
color: white;
}

.navbar{
 display: flex;
 list-style-type: none;
 justify-content: space-around;
 font-size: 30px;
 padding: 20px 20px;
}

.span10{
 width: 80%;
 margin: auto;
 background-color: blanchedalmond;
}
a{
 text-decoration: none;
 color: black;
}

.one {
 text-align: left;
} 
.beforehr{
 text-align: center;
}
h2{
 text-align: center;
}

.points_set_one{
 float: left;
 width: 35%;
}
.points_set_two{
 float: left;
 width: 30%;
}

.points_set_three{
 float: right;
 width: 35%;
}
.edu{
text-align: center;
}

.tech_skills{
 text-align: center;
}

.subnav{
 display: flex;
 justify-content: space-around;list-style-type: none;
 
}